@model SliderUpdateViewModel


<div class="row col-lg-12">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update Slide</h4>

                <form class="forms-sample" method="post" asp-action="update" enctype="multipart/form-data" en>
                    <div class="form-group">
                        <label asp-for="Image">Name</label>
                        <input asp-for="Image" class="form-control" placeholder="Name">
                        <span asp-validation-for="Image" class="text-danger"></span>

                    </div>
                    <div class="imagesTable">
                        <table class="table table-striped">
                            <thead>
                                <tr>

                                    <th>Image</th>


                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                    <td>
                                        <img style="border-radius:0px; object-fit:contain; height:100px; width:100px;" class="productImage " src="~/assets/images/slider/@Model.ImageUrl" />
                                    </td>


                                </tr>


                            </tbody>
                        </table>

                    </div>
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" placeholder="Title">
                        <span asp-validation-for="Title" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label asp-for="Subtitle">Subtitle</label>
                        <input asp-for="Subtitle" class="form-control" placeholder="Subtitle">
                        <span asp-validation-for="Subtitle" class="text-danger"></span>

                    </div>
                       <div class="form-group">
                        <label asp-for="Slogan">Slogan</label>
                        <input asp-for="Slogan" class="form-control" placeholder="Slogan">
                        <span asp-validation-for="Slogan" class="text-danger"></span>

                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>