@model List<BasketItemViewModel>
@{
    decimal totalPrice = 0;
    foreach (var product in Model)
    {

        totalPrice += product.Price * product.Count;

    }

}


@if (Model.Count>0)
{

    <div class="offcanvas offcanvas-end cart-offcanvas" id="cartSidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">My Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
                <i class="lastudioicon-e-remove"></i>
            </button>
        </div>
        <div class="offcanvas-body">
            <ul class="offcanvas-cart-list">
                @foreach (var item in Model)
                {

                    <li>
                        <!-- Offcanvas Cart Item Start -->
                        <div class="offcanvas-cart-item">

                            <div class="offcanvas-cart-item__thumbnail">
                                <a href="#"><img src="~/assets/images/product/@item.ImageUrl" alt="product" /></a>
                            </div>
                            <div class="offcanvas-cart-item__content">
                                <h4 class="offcanvas-cart-item__title">
                                    <a href="#">@item.ProductName </a>
                                </h4>
                                <span class="offcanvas-cart-item__quantity">@item.Count × $@item.Price</span>
                            </div>
                            
                        </div>
                        <!-- Offcanvas Cart Item End -->
                    </li>

                }
            </ul>
        </div>
        <div class="offcanvas-footer">
            
           
            <!-- Cart Totals Table Start-->
            <div class="cart-totals-table">
                <table class="table">
                    <tbody>
                       
                        <tr class="order-total">
                            <th>Total</th>
                            <td data-title="Total">
                                <strong><span>$@totalPrice</span></strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Cart Totals Table End-->
            <!-- Cart Buttons End-->
            <div class="cart-buttons">
                <a href="#" class="cart-buttons__btn-1 btn">Checkout</a>
                <a asp-controller="basket" asp-action="index" class="cart-buttons__btn-2 btn">View Cart</a>
            </div>
            <!-- Cart Buttons End-->
        </div>
    </div>
}

else
{

    <div class="offcanvas offcanvas-end cart-offcanvas" id="cartSidebar">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">My Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas">
                <i class="lastudioicon-e-remove"></i>
            </button>
        </div>
         <div class="cart_item">

            <div class="alert alert-danger text-center" role="alert">
                Your Cart Is Empty <br />
                <a asp-controller="home" asp-action="index" class="text-primary">Let`s Start Shop</a>
            </div>

        </div>
        <div class="offcanvas-footer">
         
            
            <div class="cart-buttons">
                <a asp-controller="basket" asp-action="index" class="cart-buttons__btn-2 btn">View Cart</a>
            </div>
            <!-- Cart Buttons End-->
        </div>
    </div>
}

